<div class="navbar-area bg-black">
  <div class="main-nav">
    <div class="container mw-1680">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/"
          ><img src="/assets/images/white-logo.svg" alt="logo"
        /></a>
        <div
          class="collapse navbar-collapse for-mobile-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a href="/" class="nav-link active">صفحه اصلی</a>
            </li>
            <li class="nav-item">
              <a href="/about-us" class="nav-link">صفحات</a>
            </li>
            <li class="nav-item">
              <a href="/auth/login" class="nav-link">ورود</a>
            </li>
            <li class="nav-item">
              <a href="/auth/register" class="nav-link">ثبت نام</a>
            </li>
            <li class="nav-item">
              <a href="/products" class="nav-link">محصولات</a>
            </li>
            <li class="nav-item">
              <a href="/blogs" class="nav-link">وبلاگ</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="mobile-nav">
    <div class="container">
      <div class="mobile-menu">
        <div class="logo">
          <a href="/"><img src="/assets/images/white-logo.svg" alt="logo" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
