<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/assets/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assets/css/icofont.min.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome-pro.css" />
    <link rel="stylesheet" href="/assets/css/scrollcue.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <title>سایت فروشگاهی</title>
  </head>
  <body>
    <%-include('../partials/_header.ejs')%> <%-body%>
    <%-include('../partials/_footer.ejs')%>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.meanmenu.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/scrollcue.js"></script>
    <script src="/assets/js/magnific-popup.min.js"></script>
    <script src="/assets/js/counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/mixitup.min.js"></script>
    <script src="/assets/js/smoothscroll.min.js"></script>
    <script src="/assets/js/custom.js"></script>
  </body>
</html>
