<div class="about-us-area ptb-100" id="about-us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-us-img" data-cues="slideInUp">
          <img src="assets/images/about-us.png" alt="about-us" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-us-content" data-cues="slideInUp">
          <span class="top-title">درباره ما</span>
          <h2>آژانس طراحی حرفه ای برای ارائه راه حل</h2>
          <p>
            ما که با چشم‌اندازی برای تعریف مجدد هنر داستان‌سرایی و طراحی تأسیس
            شده‌ایم، از زمان آغاز به کار خود در ارائه راه‌حل‌های خلاقانه
            پیشگامانه در خط مقدم بوده‌ایم. آژانس ما یک نیروگاه پویا از استعدادها
            است که استعداد هنری را با زیرکی استراتژیک ادغام می کند تا دیدگاه ها
            را زنده کند.
          </p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <ul class="ps-0 list-unstyled about-list">
                <li>راه حل های حرفه ای مشکل</li>
                <li>مدیریت ارتباط با مشتری</li>
                <li>طراحی و توسعه وب</li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6">
              <ul class="ps-0 list-unstyled about-list">
                <li>توسعه تجاری</li>
                <li>ایجاد محتوا و استراتژی برند</li>
                <li>آژانس خلاق دیجیتال</li>
              </ul>
            </div>
          </div>
          <div class="d-inline-block">
            <a
              href="about-us.html"
              class="circle-btn d-inline-block text-decoration-none d-flex align-items-center"
              ><span>بیشتر بدانید</span
              ><i class="fa-solid fa-arrow-up-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>