<div class="services-area bg-color-030303 ptb-100">
  <div class="container">
    <div class="section-title white-title" data-cues="slideInUp">
      <span class="top-title">خدمات ما</span>
      <h2>راه حل های آژانس حرفه ای و خلاق</h2>
    </div>
    <div class="row justify-content-center" data-cues="slideInUp">
      <div class="col-xl-3 col-sm-6">
        <div class="services-single-item">
          <div class="icon">
            <img src="assets/images/services-icon-1.svg" alt="services-icon" />
          </div>
          <h3><a href="service-details.html">مشاوره استراتژی</a></h3>
          <p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
          <ul class="ps-0 mb-0 list-unstyled">
            <li>مدیریت تولید</li>
            <li>مشاوره مالی</li>
            <li>استراتژی محصول</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="services-single-item">
          <div class="icon">
            <img src="assets/images/services-icon-2.svg" alt="services-icon" />
          </div>
          <h3><a href="service-details.html">بازاریابی دیجیتال</a></h3>
          <p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
          <ul class="ps-0 mb-0 list-unstyled">
            <li>استراتژی های بازاریابی</li>
            <li>توسعه تجاری</li>
            <li>مشاوره مالی</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="services-single-item">
          <div class="icon">
            <img src="assets/images/services-icon-3.svg" alt="services-icon" />
          </div>
          <h3><a href="service-details.html">توسعه وب</a></h3>
          <p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
          <ul class="ps-0 mb-0 list-unstyled">
            <li>راه حل های فناوری</li>
            <li>تجزیه و تحلیل تحقیقات بازار</li>
            <li>مدیریت پروژه</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="services-single-item">
          <div class="icon">
            <img src="assets/images/services-icon-4.svg" alt="services-icon" />
          </div>
          <h3><a href="service-details.html">طراحی خلاقانه</a></h3>
          <p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
          <ul class="ps-0 mb-0 list-unstyled">
            <li>آموزش و توسعه</li>
            <li>مشاوره پایداری</li>
            <li>مدیریت بحران</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <div class="text-center services-btn d-inline-block m-auto mt-lg-4">
          <a
            href="services.html"
            class="circle-btn text-decoration-none d-flex align-items-center justify-content-center"
            ><span>بیشتر بدانید</span><i class="fa-solid fa-arrow-up-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>