<div class="testimonial-area pb-100">
  <div class="container">
    <div class="testimonial-slide owl-carousel owl-theme">
      <div class="d-md-flex align-items-center testimonial-single-item">
        <div class="flex-shrink-0">
          <img
            src="assets/images/testimonial-1.jpg"
            class="testimonial-img"
            alt="testimonial"
          />
        </div>
        <div class="flex-grow-1 ms-md-4 mt-3 mt-md-0">
          <p>
            ما که با چشم‌اندازی برای تعریف مجدد هنر داستان‌سرایی و طراحی تأسیس
            شده‌ایم، از زمان آغاز به کار خود در ارائه راه‌حل‌های خلاقانه
            پیشگامانه در خط مقدم بوده‌ایم. آژانس ما یک نیروگاه پویا از استعدادها
            است.
          </p>
          <h4>مارک فیلیپس /<span>طراح محصول</span></h4>
        </div>
        <img src="assets/images/quat.svg" class="quat" alt="quat" />
      </div>
      <div class="d-md-flex align-items-center testimonial-single-item">
        <div class="flex-shrink-0">
          <img
            src="assets/images/testimonial-2.jpg"
            class="testimonial-img"
            alt="testimonial"
          />
        </div>
        <div class="flex-grow-1 ms-md-4 mt-3 mt-md-0">
          <p>
            با ایجاد چشم‌اندازی برای بازتعریف هنر داستان‌سرایی و طراحی، ما از
            همان ابتدا در خط مقدم ارائه راه‌حل‌های خلاقانه پیشگام بوده‌ایم.
            آژانس ما استعداد نیروگاه پویا است.
          </p>
          <h4>الکس فیلیپس /<span>فروش محصول</span></h4>
        </div>
        <img src="assets/images/quat.svg" class="quat" alt="quat" />
      </div>
    </div>
  </div>
</div>