<div
  class="page-banner-area bg-black bg-img"
  data-background="/assets/images/banner-bg-shape.png"
>
  <div class="container mw-1680">
    <div class="page-banner-content">
      <h2>404 Error page</h2>
      <ul
        class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4"
      >
        <li><a href="/">صفحه اصلی</a></li>
        <li><span class="active">404 Error page</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="error-page-area ptb-100">
  <div class="container">
    <div class="text-center">
      <img src="/assets/images/404.png" alt="404" />
      <div class="error-content">
        <h3>این صفحات یافت نشد</h3>
        <p>
          لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از
          طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
        </p>
        <a href="/" class="main-btn">بازگشت به خانه</a>
      </div>
    </div>
  </div>
</div>
