<div
  class="page-banner-area bg-black bg-img"
  data-background="/assets/images/banner-bg-shape.png"
>
  <div class="container mw-1680">
    <div class="page-banner-content">
      <h2>وبلاگ</h2>
      <ul
        class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4"
      >
        <li><a href="/">صفحه اصلی</a></li>
        <li><span class="active">وبلاگ</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="blog-area ptb-100">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-4 col-md-6">
        <div class="blog-single-item style-two">
          <a href="/blogs" class="d-block blog-img"
            ><img src="/assets/images/blog-1.jpg" alt="blog"
          /></a>
          <ul class="ps-0 list-unstyled date">
            <li><span>27 نوامبر 2023</span></li>
            <li>3 Minutes Read</li>
          </ul>
          <h3><a href="/blogs">یک روز در قلمروهای مد پنهان مد</a></h3>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="blog-single-item style-two">
          <a href="/blogs" class="d-block blog-img"
            ><img src="/assets/images/blog-2.jpg" alt="blog"
          /></a>
          <ul class="ps-0 list-unstyled date">
            <li><span>27 نوامبر 2023</span></li>
            <li>3 Minutes Read</li>
          </ul>
          <h3><a href="/blogs">وبلاگ عالی یک عکاس عروسی</a></h3>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="blog-single-item style-two">
          <a href="/blogs" class="d-block blog-img"
            ><img src="/assets/images/blog-5.jpg" alt="blog"
          /></a>
          <ul class="ps-0 list-unstyled date">
            <li><span>27 نوامبر 2023</span></li>
            <li>3 Minutes Read</li>
          </ul>
          <h3>
            <a href="/blogs"
              >تسلط بر ذهن آگاهی: راهنمای بهزیستی روزانه</a
            >
          </h3>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="blog-single-item style-two">
          <a href="/blogs" class="d-block blog-img"
            ><img src="/assets/images/blog-6.jpg" alt="blog"
          /></a>
          <ul class="ps-0 list-unstyled date">
            <li><span>27 نوامبر 2023</span></li>
            <li>3 Minutes Read</li>
          </ul>
          <h3>
            <a href="/blogs"
              >ظهور مد پایدار به سبک سازگار با محیط زیست</a
            >
          </h3>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="blog-single-item style-two">
          <a href="/blogs" class="d-block blog-img"
            ><img src="/assets/images/blog-7.jpg" alt="blog"
          /></a>
          <ul class="ps-0 list-unstyled date">
            <li><span>27 نوامبر 2023</span></li>
            <li>3 Minutes Read</li>
          </ul>
          <h3>
            <a href="/blogs"
              >نوآوری های فناوری در سفر: بازتعریف روشی که کاوش می کنیم</a
            >
          </h3>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="blog-single-item style-two">
          <a href="/blogs" class="d-block blog-img"
            ><img src="/assets/images/blog-8.jpg" alt="blog"
          /></a>
          <ul class="ps-0 list-unstyled date">
            <li><span>27 نوامبر 2023</span></li>
            <li>3 Minutes Read</li>
          </ul>
          <h3>
            <a href="/blogs"
              >هنر داستان سرایی: ساختن روایت های متقاعد کننده</a
            >
          </h3>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="blog-single-item style-two">
          <a href="/blogs" class="d-block blog-img"
            ><img src="/assets/images/blog-9.jpg" alt="blog"
          /></a>
          <ul class="ps-0 list-unstyled date">
            <li><span>27 نوامبر 2023</span></li>
            <li>3 Minutes Read</li>
          </ul>
          <h3>
            <a href="/blogs"
              >پیمایش از راه دور: نکاتی برای بهره وری</a
            >
          </h3>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="blog-single-item style-two">
          <a href="/blogs" class="d-block blog-img"
            ><img src="/assets/images/blog-10.jpg" alt="blog"
          /></a>
          <ul class="ps-0 list-unstyled date">
            <li><span>27 نوامبر 2023</span></li>
            <li>3 Minutes Read</li>
          </ul>
          <h3>
            <a href="/blogs"
              >فراتر از بشقاب: کاوش در آشپزی در سراسر جهان</a
            >
          </h3>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="blog-single-item style-two">
          <a href="/blogs" class="d-block blog-img"
            ><img src="/assets/images/blog-11.jpg" alt="blog"
          /></a>
          <ul class="ps-0 list-unstyled date">
            <li><span>27 نوامبر 2023</span></li>
            <li>3 Minutes Read</li>
          </ul>
          <h3>
            <a href="/blogs"
              >توانمندسازی کارآفرینان: بنیانگذار موفق بینش</a
            >
          </h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="pagination">
          <a href="/blogs" class="next page-count hover-style"
            ><div class="inner-border">
              <i class="icofont-simple-left"></i></div></a
          ><a
            href="/blogs"
            class="page-count current hover-style"
            aria-current="page"
            ><div class="inner-border">1</div></a
          ><a href="/blogs" class="page-count hover-style"
            ><div class="inner-border">2</div></a
          ><a href="/blogs" class="page-count hover-style"
            ><div class="inner-border">3</div></a
          ><a href="/blogs" class="page-count hover-style"
            ><div class="inner-border">4</div></a
          ><a href="/blogs" class="next page-count hover-style"
            ><div class="inner-border"><i class="icofont-simple-right"></i></div
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="testimonials-area-three overflow-hidden">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="section-title ms-0 text-start"><h2>گواهینامه ها</h2></div>
        <div class="testimonial-slide-two owl-carousel owl-theme">
          <div class="testimonials-single-item-two style-three">
            <ul class="ps-0 list-unstyled d-flex gap-2 review">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>
            <p>
              خواه افزایش دید بازار، بهبود کارایی عملیاتی یا اجرای فناوری‌های
              پیشرفته باشد، آژانس ما طیف گسترده‌ای از خدمات را ارائه می‌دهد. از
              مشاوره استراتژیک و تحول دیجیتال گرفته تا استراتژی های بازاریابی و
              مشاوره مالی...
            </p>
            <div class="d-flex align-items-center info">
              <div class="flex-shrink-0">
                <img
                  src="/assets/images/testimonial-3.png"
                  class="rounded-circle"
                  alt="testimonial"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <h3>برندی رو</h3>
                <span>رهبر بازاریابی در Technlogia</span>
              </div>
            </div>
          </div>
          <div class="testimonials-single-item-two style-three">
            <ul class="ps-0 list-unstyled d-flex gap-2 review">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>
            <p>
              خواه افزایش دید بازار، بهبود کارایی عملیاتی یا اجرای فناوری‌های
              پیشرفته باشد، آژانس ما طیف گسترده‌ای از خدمات را ارائه می‌دهد. از
              مشاوره استراتژیک و تحول دیجیتال گرفته تا استراتژی های بازاریابی و
              مشاوره مالی...
            </p>
            <div class="d-flex align-items-center info">
              <div class="flex-shrink-0">
                <img
                  src="/assets/images/testimonial-3.png"
                  class="rounded-circle"
                  alt="testimonial"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <h3>برندی رو</h3>
                <span>رهبر بازاریابی در Technlogia</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-img-three mt-4 mt-lg-0">
          <img src="/assets/images/testimonial-6.jpg" alt="testimonial" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-us-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span class="top-title">وقت ملاقات</span>
      <h2>دوست دارم از شما بشنوم تماس بگیرید!</h2>
    </div>
    <form class="appointment-form style-two">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="اسم شما *" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="ایمیل شما *"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="آنچه شما علاقه دارید *"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="بودجه پروژه *"
            />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <textarea
              cols="30"
              rows="6"
              class="form-control"
              placeholder="پیام *"
            ></textarea>
          </div>
        </div>
        <div class="col-lg-12">
          <button
            type="submit"
            class="circle-btn d-inline-block text-decoration-none bg-transparent d-flex align-items-center"
          >
            <span>پیام فرستادن</span><i class="fa-solid fa-arrow-up-right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer-area pt-100 pb-75 bg-color-030303">
  <div class="container"><div class="row"></div></div>
</div>
